{% extends 'base.html.twig' %}

{% block title %}Modifier une dépense{% endblock %}

{% block body %}
    <h1>Modifier la dépense</h1>

    {{ form_start(form) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.category) }}
        {{ form_row(form.date) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_expense_index') }}">← Retour à la liste</a>
{% endblock %}
